facialRecognition/data
facialRecognition/opencv
facialRecognition/ElonMusk.mp4
facialRecognition/videoauron.mp4
facialRecognition/haarcascade_frontalface_default.xml
facialRecognition/training_EigenFaceRecognizer.xml